* {
    padding: 0;
    margin: 0;
    font-family: "yekan";
}
body{
    overflow-x: hidden;
    background-color: rgb(27, 27, 27);
    transition: 0.6s;
}

.main {
    display: flex;
}

.main-img {
    width: 100%;
    height: 100vh;
    background-image: url("../img/main.jpg");
    background-repeat: no-repeat;
    background-size: 80% 100%;
    background-color: rgba(0, 0, 0, 0.575);
    background-blend-mode: multiply;
}

.fix-menu {
    width: 20%;
    height: 100vh;
    
    position: fixed;
    right: 0;
    z-index: 10;
}

.my-img {
    width: 40%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 50px;
    border: solid 10px;
    border-radius: 50% 20%;
    cursor: pointer;
}

.my-name {
    text-align: center;
    margin-top: 50px;
    font-weight: 200;
    font-size: 35px;
    cursor: pointer;
}

.title1-main-img {
    text-align: center;
    margin-top: 100px;
    font-size: 25px;
}

.title2-main-img {
    text-align: center;
    font-size: 65px;
}

.title3-main-img {
    text-align: center;
    font-size: 25px;
}

.p-link-main-img {
    text-align: center;
    margin-top: 40px;
}

.link-main-img {
    text-decoration: none;
    border: 1px solid;
    padding: 10px 30px;
    border-radius: 20px;
    transition: 0.6s;
}

.link-main-img:hover {
    color: rgb(58, 58, 58);
    background-color: rgb(83, 123, 255);
}

.p-home-menu {
    text-align: center;
    margin-top: 40px;
}

.home-menu {
    text-decoration: none;
    transition: 0.6s;
    font-size: 20px;
}

.home-menu:hover {
    color: rgb(83, 123, 255);
}

.p-about-menu {
    text-align: center;
    margin-top: 20px;
}

.icon-social-networks {
    font-size: 25px;
    margin: 5px;
    cursor: pointer;
    transition: 0.6s;
}

.icon-box-social-networks {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -100%);
    top: 100%;
}

.icon-social-networks:hover {
    color: rgb(83, 123, 255);
}

.about {
    width: 100%;
    height: 450px;
    transition: 0.6s;
}

.box-title-about {
    position: relative;
    width: 100%;
    height: 200px;
}

.title-about {
    font-size: 85px;
    font-weight: 900;
    position: absolute;
    left: 40%;
    transform: translateX(-50%) scaleX(1.5);
    margin-top: 50px;
}

.title-about2 {
    position: absolute;
    left: 40%;
    transform: translateX(-50%) scaleX(1.2);
    margin-top: 100px;
    font-size: 35px;
}

.text-about {
    width: 45%;
    height: auto;
    position: relative;
    right: 25%;

}

.description-about {
    width: 30%;
    height: auto;
    position: relative;
    right: 32%;
}

.box-description-about {
    direction: rtl;
}

.span-text-about {
    font-size: 27px;
}

.text-about-text {
    text-align: justify;
    margin-top: 10px;
}

.name-description-about {
    font-size: 20px;
    font-weight: 600;
}

.email-description-about {
    text-decoration: none;
    transition: 0.6s;
}

.icon-down-main-img {
    color: white;
    position: absolute;
    left: 40%;
    top: 90%;
    font-size: 65px;
    animation-iteration-count: infinite;
    cursor: pointer;
}

.resume {
    width: 100%;
    height: auto;
    transition: 0.6s;
}

.main-box-resume {
    direction: rtl;
}

.resume-education {
    width: 40%;
    height: auto;
    margin-right: 20%;
    text-align: center;
}

.resume-experience {
    width: 40%;
    height: auto;
    text-align: center;
}

.box-resume-education1 {
    width: 90%;
    height: auto;
    margin: auto;
    position: relative;
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0px rgba(255, 255, 255, 0.151);
}

.year-resume {
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    transition: 0.6s;
    position: absolute;
    right: 0;
    margin: 5px;
}

.text-box-resume {
    text-align: justify;
    font-size: 14px;
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
}



.my-skill {
    width: 100%;
    height: auto;
    direction: rtl;
    padding-right: 25%;
}

.progress-bar-html {
    height: 15px;
    background-color: rgb(182, 182, 182);
    width: 90%;
    border-radius: 5px;
}

.progress-bar-css {
    height: 15px;
    background-color: rgb(182, 182, 182);
    width: 90%;
    border-radius: 5px;
}

.progress-bar-js {
    height: 15px;
    background-color: rgb(182, 182, 182);
    width: 90%;
    border-radius: 5px;
}

.box1-skill {
    width: 100%;
    margin: 10px;
}

.box2-skill {
    width: 100%;
    margin: 10px;
}

.bar-html {
    width: 60%;
    height: 15px;
    border-radius: 5px 10px 10px 5px;
    transition: 1.5s;
}

.bar-css {
    width: 50%;
    height: 15px;
    border-radius: 5px 10px 10px 5px;
    transition: 1.5s;
}

.bar-js {
    width: 40%;
    height: 15px;
    border-radius: 5px 10px 10px 5px;
    transition: 1.5s;
}

.progress-bar-jq {
    height: 15px;
    background-color: rgb(182, 182, 182);
    width: 90%;
    border-radius: 5px;
}

.bar-jq {
    width: 60%;
    height: 15px;
    border-radius: 5px 10px 10px 5px;
    transition: 1.5s;
}

.progress-bar-npm {
    height: 15px;
    background-color: rgb(182, 182, 182);
    width: 90%;
    border-radius: 5px;
}

.bar-npm {
    width: 50%;
    height: 15px;
    border-radius: 5px 10px 10px 5px;
    transition: 1.5s;
}

.progress-bar-react {
    height: 15px;
    background-color: rgb(182, 182, 182);
    width: 90%;
    border-radius: 5px;
}

.bar-react {
    width: 40%;
    height: 15px;
    border-radius: 5px 10px 10px 5px;
    transition: 1.5s;
}

.box-download-CV {
    border: 1px solid rgb(51, 51, 51);
    display: inline-block;
    border-radius: 20px;
    padding: 10px 20px;
    position: absolute;
    left: 40%;
    transform: translateX(-50%);
    margin-top: 20px;
    transition: 0.6s;
    cursor: pointer;
    padding-bottom: 15px;
    z-index: 10;
}



.box-download-CV:hover .download-CV {
    color: white;
}

.box-download-CV:hover .icon-download-CV {
    color: white;
}

.download-CV {
    text-decoration: none;
    transition: 0.6s;
}

.icon-download-CV {
    transition: 0.6s;
    position: relative;
    top: 5px;
}

.portfolio {
    width: 100%;
    height: auto;
    margin-top: 50px;
    transition: 0.6s;
}

.box-portfolio {
    display: flex;
    flex-wrap: wrap;
    margin-right: 20%;
    margin-left: 40px;
    position: relative;
}
.slider-portfolio{
    width: 90%;
    margin: auto;
    overflow: hidden;

}
.icon-right-slider-portfolio{
    position: absolute;
    left: 95%;
    top: 50%;
    z-index: 5;
    color: rgba(255, 255, 255, 0.658);
    font-size: 35px;
    background-color: rgb(73, 73, 73);
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    transition: 0.6s;
}
.icon-right-slider-portfolio:hover{
    color: white;
}
.icon-left-slider-portfolio{
    position: absolute;
    left: 0;
    top: 50%;
    z-index: 5;
    color: rgba(255, 255, 255, 0.658);
    font-size: 35px;
    background-color: rgb(73, 73, 73);
    border-radius: 50%;
    padding: 5px;
    padding-left: 10px;
    padding-right: 0;
    cursor: pointer;
    transition: 0.6s;
    opacity: 0.2;
}
.icon-left-slider-portfolio:hover{
    color: white;
}
.portfolio1 {
    min-width: calc(33.33% - 50px);
    height: 300px;
    background-image: url("../img/ماشین-حساب-کاسیو-مدل-GX-12B.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0);
    background-blend-mode: multiply;
    cursor: pointer;
    transition: 1s;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 10px;
    border-radius: 10px;
    background-position: center;
}

.portfolio1:hover {
    background-color: rgba(0, 0, 0, 0.61);
    background-size: 105% 105%;
}

.title-project {
    color: white;
    text-align: center;
    margin-top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    visibility: hidden;
    transition: 1s;
}

.text-project {
    color: white;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: 1s;
}

.portfolio1:hover .title-project {
    opacity: 1;
    visibility: visible;
}

.portfolio1:hover .text-project {
    opacity: 1;
    visibility: visible;
}

.portfolio2 {
    min-width: calc(33.33% - 50px);
    height: 300px;
    background-image: url("../img/Untitled.png");
    background-size: 200% 100%;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0);
    background-blend-mode: multiply;
    cursor: pointer;
    transition: 1s;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 10px;
    border-radius: 10px;
    background-position: center;
}

.portfolio2:hover {
    background-color: rgba(0, 0, 0, 0.61);
    background-size: 205% 105%;
}

.portfolio2:hover .title-project2 {
    opacity: 1;
    visibility: visible;
}

.portfolio2:hover .text-project {
    opacity: 1;
    visibility: visible;
}

.title-project2 {
    color: white;
    text-align: center;
    margin-top: 30%;
    transform: translateY(-50%);
    opacity: 0;
    visibility: hidden;
    transition: 1s;
}

.portfolio3 {
    min-width: calc(33.33% - 50px);
    height: 300px;
    background-image: url("../img/4654654.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0);
    background-blend-mode: multiply;
    cursor: pointer;
    transition: 1s;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 10px;
    border-radius: 10px;
    background-position: center;
}
.portfolio3:hover {
    background-color: rgba(0, 0, 0, 0.61);
    background-size: 105% 105%;
}

.portfolio3:hover .title-project2 {
    opacity: 1;
    visibility: visible;
}

.portfolio3:hover .text-project {
    opacity: 1;
    visibility: visible;
}
.portfolio4 {
    min-width: calc(33.33% - 50px);
    height: 300px;
    background-image: url("../img/a1.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0);
    background-blend-mode: multiply;
    cursor: pointer;
    transition: 1s;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 10px;
    border-radius: 10px;
    background-position: center;
    
}
.portfolio4:hover {
    background-color: rgba(0, 0, 0, 0.61);
    background-size: 105% 105%;
}

.portfolio4:hover .title-project {
    opacity: 1;
    visibility: visible;
}

.portfolio4:hover .text-project {
    opacity: 1;
    visibility: visible;
}
.portfolio5 {
    min-width: calc(33.33% - 50px);
    height: 300px;
    background-image: url("../img/a1.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0);
    background-blend-mode: multiply;
    cursor: pointer;
    transition: 1s;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 10px;
    border-radius: 10px;
    background-position: center;
}
.portfolio5:hover {
    background-color: rgba(0, 0, 0, 0.61);
    background-size: 105% 105%;
}

.portfolio5:hover .title-project {
    opacity: 1;
    visibility: visible;
}

.portfolio5:hover .text-project {
    opacity: 1;
    visibility: visible;
}
.contact{
    width: 100%;
    height: auto;
    margin-top: 50px;
    direction: rtl;
    transition: 0.6s;
}
.contact-address{
    width: 20%;
    height: auto;
    margin-right: 22%;
}
.icon-call{
    font-size: 35px;
    position: relative;
    top: 10px;
}
.num-call{
    font-size: 20px;
}
.mail-text{
    cursor: pointer;
}
.follow-me{
    margin-top: 20px;
}
.icon-footer{
    margin: 5px;
    font-size: 25px;
    cursor: pointer;
    transition: 0.6s;
}
.icon-footer:hover{
    color: aqua;
}
.contact-massage{
    width: 55%;
    height: auto;
    margin-right: 100px;
}
.in-name{
    width: 40%;
    height: 50px;
    border-radius: 10px;
    padding-right: 20px;
    font-size: 20px;
    border: none;
    box-shadow: 0 0 3px 0px rgb(82, 82, 82);
    margin: 10px;
    outline: none;
}
.t-area{
    width: 82%;
    height: 150px;
    margin: 10px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 3px 0px rgb(82, 82, 82);
    font-size: 20px;
    padding-right: 20px;
    padding-top: 10px;
    outline: none;
}
.link-massage{
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    transition: 0.6s;

}
.link-massage:hover{
    color: white;
    background-color: rgb(98, 117, 204);
}
.p-link-massage{
    position: relative;
    right: 30%;
    top: 20px;
}
.notefoot{
    width: 80%;
    height: auto;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    transition: 0.6s;
}
.text-notefoot{
    font-size: 20px;
}
.text-notefoot-name{
    cursor: pointer;
    transition: 0.6s;
}
.text-notefoot-name:hover{
    color: rgb(98, 117, 204);
}
.text2-notefoot{
    font-size: 20px;
    border-right: 1px solid black;
    margin: 10px;
    padding-right: 10px;
    cursor: pointer;
    transition: 0.6s;
}
.text2-notefoot:hover{
    color: rgb(98, 117, 204);
}
.text3-notefoot{
    font-size: 20px;
    margin: 10px;
    padding-right: 10px;
    cursor: pointer;
    transition: 0.6s;
}
.text3-notefoot:hover{
    color: rgb(98, 117, 204);
}






.mas{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    z-index: 546546546;
    transition: 1s;
    overflow: hidden;
}
.txt-mas{
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 35px;
    transition: 1s;
}
.txt-mas2{
    color: rgb(83, 123, 255);
    position: absolute;
    left: 35%;
    top: 50%;
    font-size: 35px;
    transition: 2s;
    animation-delay: 0.3s;
}



.white{
    color: white;
}
.bg-white{
    background-color: white;
}

.blue{
    color: rgb(83, 123, 255);
    border-color: rgb(83, 123, 255);
}
.bg-blue{
    background-color: rgb(83, 123, 255);
}
.doodi{
    color: rgb(27, 27, 27);
}
.bg-doodi{
    background-color: rgb(27, 27, 27);
}

.black-light{
    color: rgb(39, 39, 39);
}
.bg-black-light{
    background-color: rgb(46, 46, 46);
}
.bg-white-light{
    background-color: rgb(108, 108, 108);
}
.white-light{
    color: rgb(212, 212, 212);
}
.form-check{
    text-align: center;
    font-size: 25px;
    cursor: pointer;
}
.form-check-input{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}
.form-check-label{
    cursor: pointer;
    transition: 0.4s;
}
.form-check-label:hover{
    color: rgb(83, 123, 255);
}


.palet{
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    transition: 0.6s;
    margin-top: 20px;
}
.palet:hover{
    color: rgb(83, 123, 255);
}
.box-color{
    width: 150px;
    height: 150px;
    background: #bdb7b7;
    position: absolute;
    transform: scale(0);
    transition: 0.6s;
    left: -10%;
    top: 70%;
}

.icon-close-palet{
    position: relative;
    left: -50%;
    transform: translateX(50%);
    cursor: pointer;
    transition: 0.6s;
}
.icon-close-palet:hover{
    color: white;
}

.color-palet{
    
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.color1-palet:hover{
    box-shadow: 0 0 2px 0 rgb(0, 0, 0);
}
.color-palet1{
    background-color: blueviolet;
}
.color-palet2{
    background-color: brown;
}
.color-palet3{
    background-color: chartreuse;
}
.color-palet4{
    background-color: chocolate;
}
.color-palet5{
    background-color: darkblue;
}
.color-palet6{
    background-color: darkgoldenrod;
}
.color-palet7{
    background-color: green;
}
.color-palet8{
    background-color: lightseagreen;
}
.color-palet9{
    background-color: red;
}
.color-palet10{
    background-color: sienna;
}


